.hidden {
    display: none;
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    right:0px;
    bottom:0px;
    z-index: -1;
    opacity: 80%;
    object-fit: cover;
<<<<<<< HEAD
    filter: brightness(0.8);
};

=======
    filter: brightness(0.5);
};
>>>>>>> f9e70787eb252b963c89ac7ea788e3456e0ff6d7
